.object-23{aspect-ratio:1244/1234}.object-23 img{width:128.697749%;left:-15.353698%;top:-24.554295%}
.object-24{aspect-ratio:561/1992}.object-24 img{width:252.406417%;left:-82.352941%;top:-18.775100%}
.object-111{aspect-ratio:2363/2530}.object-111 img{width:253.914515%;left:-57.680914%;top:-23.320158%}
.object-112{aspect-ratio:503/2279}.object-112 img{width:1192.842942%;left:-543.538767%;top:-36.902150%}