<footer class="ft">
<div class="wrap ft-in">
<div>
<img alt="tam BEAUTY" class="ft-logo" decoding="async" height="29" loading="eager" src="/tam/assets/38d19c7e8e86.png" width="64"/>
<p>
        주식회사 에이위즈 · 대표 김영훈<br/>서울 강남구 봉은사로22길 18
        지하1층(역삼동)<br/>사업자등록번호 228-88-02579 · 통신판매업신고 제
        2024-서울강남-02503 호<br/>개인정보보호책임자 김영훈 ·
        tambeautyofficial@gmail.com
      </p>
</div>
<div>
<h4>고객센터</h4>
<p class="ft-tel"><a href="tel:1668-0868">1668-0868</a></p>
<p>평일 10:00 – 17:00 · 주말 · 공휴일 휴무<br/>카카오톡채널 문의</p>
</div>
<div>
<h4>입금 계좌</h4>
<p>
        우리은행 1005-804-651153<br/>예금주 (주)에이위즈<br/>입금 시 주문자
        성함 기재
      </p>
</div>
<div>
<h4>안내</h4>
<p><a href="/tam/about.html">회사소개</a><a href="/member/privacy.html">개인정보처리방침</a><a href="/member/agreement.html">이용약관</a><a href="/shopinfo/guide.html">이용안내</a></p>
</div>
</div>
<div class="wrap ft-b">
<p>© TAM BEAUTY. All rights reserved.</p>
<p>Instagram · 카카오톡채널</p>
</div>
</footer>